.w-btn, .button, button[type="submit"], input[type="submit"] {display: inline-block;vertical-align: top;text-align: center;line-height: 1.2;position: relative;transition: background .3s,border-color .3s,box-shadow .3s,opacity .3s,color .3s;-webkit-tap-highlight-color: rgba(0,0,0,0);}
.w-btn, .button {padding: .8em 1.8em;}
input[type="submit"] {border-style: solid;}
.w-btn i {display: inline-block;vertical-align: top;line-height: inherit;}
.w-btn.icon_atleft i {margin-right: .5em;}
.w-btn.icon_atright i {margin-left: .5em;}
.w-btn.text_none i {margin: 0 !important;width: 1.2em;}
.w-btn:before, .button:before, button[type="submit"]:before {content: "";position: absolute;top: 0;left: 0;right: 0;bottom: 0;border-radius: inherit;border-width: 2px;border-style: solid;border-color: inherit;}
.links_underline a.w-btn {border-width: 0 !important;}
.w-btn-wrapper {margin: .3rem 0;}
.w-btn-wrapper.align_left {display: inline-block;vertical-align: top;margin-right: 1rem;}
.w-btn-wrapper.align_right {float: right;margin-left: 1rem;}
.wpb_column.align_center .w-btn-wrapper.align_left, .wpb_column.align_center .w-btn-wrapper.align_right {margin-left: .6rem;margin-right: .6rem;}
.w-btn-wrapper.width_custom.align_left .w-btn, .w-btn-wrapper.width_custom.align_right .w-btn, .w-btn-wrapper.width_full .w-btn {width: 100% !important;}
.us-btn-style_badge {padding: .7em 1.2em;border-radius: 5em;color: #fff !important;}
.us-btn-style_badge:before {display: none;}